{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  <div class="row">
    <div class="col-md-12">
      <h1>Admin</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

      <h2>Användare anmälda till aktuellt event</h2>
      <table class="table table-striped">
        {% for attendee in current_event.attendees %}
        <tr>
          <td>{{ attendee.user.email }}</td>
          <td>{{ attendee.user.first_name if attendee.user.first_name }}</td>
          <td>{{ attendee.user.last_name if attendee.user.last_name }}</td>
          <td>{{ attendee.seller_id }}</td>
        </tr>
        {% endfor %}
      </table>
      <p>Totalt {{ current_event.attendees|length }} anmälda.</p>

      <h2>Användare som ej bekräftat sin epostadress</h2>
      <table class="table table-striped">
        {% for user in unconfirmed_email_users %}
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.first_name if user.first_name }}</td>
          <td>{{ user.last_name if user.last_name }}</td>
        </tr>
        {% endfor %}
      </table>
      <p>Totalt {{ unconfirmed_email_users|length }} utan bekräftad epostadress.</p>
    </div>

    <div class="col-md-6">
      <h2>Alla användare</h2>
      <table class="table table-striped">
        {% for user in users %}
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.first_name if user.first_name }}</td>
          <td>{{ user.last_name if user.last_name }}</td>
          <td>{% if user.confirmed %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
      <p>Totalt {{ users|length }} användare i systemet.</p>

    </div>
  </div>
{% endblock %}
