{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  <div class="row">
    <div id="front-page-header" class="col-md-12 text-center">
      <h1>Eksjö klädbytardag</h1>
      <img src="{{ url_for('static', filename='images/logo.png') }}" width="80%">
    </div>
  </div>

  <div class="row">

    <!-- Köp -->
    <div class="col-md-4">
      <h2>Var med och fynda</h2>
      <p>
        Kom till Klädbytardagen och fynda. Vi har öppet {{ moment(current_event.start).format('dddd [den] D MMMM [klockan] HH:mm') }} till {{ moment(current_event.end).format('HH:mm') }}.
        Barnkläder och skor säljs i Missionskyrkan på Österlånggatan 3 medan leksaker och tillbehör i säljs på Fröhuset på Österlånggatan 6.
        Utanför Missionskyrkan kan man köpa korv med bröd som säljs av Eksjö Missionskyrkas Equmeniascouter. Betala helst med kort eller Swish.
      </p>

      <!-- Sälj -->
      <h2>Var med och sälj</h2>
      <p>
        Bli en av våra många säljare. Det är enkelt!
        För att kunna anmäla dig som säljare behöver du registrera en email-adress och ett lösenord.
        Från och med den {{ moment(current_event.signup_start).format('D MMMM [klockan] HH:mm') }} kan man anmäla sig här och bli en av våra 125 säljare.
      </p>
      <p>
        Efter du anmält dig får du ett email med ett unikt säljnummer.
        Du ska sedan märka de barnkläder och saker som du vill sälja enligt den instruktion som kommer i emailet.
        Det som ska säljas lämnas in fredagen innan Klädbytardagen mellan 15.00 och 18.00.
        Om du vill ha tillbaka osålda artiklar hämtas dessa på Klädbytardagen mellan 16.45 och 17.00.
        Du som säljare får 75 % i förtjänst av dina sålda varor.
        Resterande pengar går till Eksjö Missionkyrkas barn och ungdomsverksamhet, Fröhuset och välgörenhet.
      </p>
    </div>

    <!-- Dela -->
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h2>Dela med världen</h2>
          <p>
            Ta del av mer information om vår klädbytardag och sprid den vidare så att fler får möjligheten att köpa och sälja!
          </p>
          <p>
            <a href="https://www.facebook.com/kladbytardagen/">Klädbytardagen på Facebook</a><br>
            <a href="http://www.missionskyrkaneksjo.se/missionskyrkaneksjo/extern/start.php">Eksjö Missionskyrka</a>
          </p>
        </div>
      </div>

      <!-- Volontär -->
      <div class="row">
        <div class="col-md-12">
          <h2>Var med som volontär</h2>
          <p>
            Vi är många som hjälps åt för att genomföra klädbytardagen.
            Klädytardagen skulle aldrig gå att genomföra utan ett stort antal människor som lägger ned tid och engagemang för att det ska bli av.
            Det krävs uppemot 100 personer för att klara av en bytardag!
            Om man vill vara med och förköpa under 2 timmar på fredagskvällen måste man fullgöra minst 3 arbetspass.
          </p>
          <p>
            <a href="{{ url_for('main.personal') }}">Information för personal</a>
          </p>
        </div>
      </div>

      <!-- Historia -->
      <div class="row">
        <div class="col-md-12">
          <h2>Hur det började</h2>
          <p>
            Eksjö Missionskyrkas barn- och ungdomsförening Equmenia Eksjö har sedan 2001 anordnat Klädbytardagen.
            Begagnade barnkläder, skor, leksaker och tillbehör får nya ägare.
            Ett stort antal frivilliga sorterar inlämnade saker och sköter försäljningen.
            Det som inte säljs eller hämtas efteråt skickas till Brobygget i Estland, ett samarbete mellan missionskyrkor på småländska höglandet och Unionskyrkan i Estland, och hamnar sedan i second hand-butiker i Estland.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
      </div>

      {% if attending %}
        <!-- User is already signed up to current event. -->
        <div class="col-md-12 well">
          <h3>Välkommen som säljare</h3>
          <p>Trevligt att just du vill vara med och sälja!</p>
        </div>
      {% else %}
        <!-- First box, registration. -->
        <div class="col-md-12 well arrow_box">
          <h3>Registrera dig</h3>
          {% if current_user.is_anonymous %}
            <p>Detta är första steget för att bli säljare. Vi kommer inte dela din adress med någon och bara skicka information om klädbytardagen.</p>
            <p class="text-center"><a href="{{ url_for('auth.register') }}" class="btn btn-lg btn-primary" role="button">Registrera mig</a></p>
            <hr/>
            <p>Har du redan registrerat dig kan du logga in här.</p>
            <p class="text-center"><a href="{{ url_for('auth.login') }}" class="btn btn-lg btn-primary" role="button">Logga in</a></p>
          {% else %}
            <p>Hej {{ current_user.first_name }}, tack för att du har registrerat dig.</p>
            <p>När anmälan är öppen har du möjlighet att anmäla dig med knappen i rutan nedan.</p>
          {% endif %}
        </div>

        <!-- Second box, signup. -->
        <div class="col-md-12 well arrow_box2">
          <h3>Anmäl dig</h3>
          {% if attending %}
            <p>Tack för att du anmält dig!</p>
            <div class="text-center">
              <button type="button" class="btn btn-lg btn-primary" disabled>Anmäl mig</button>
            </div>
          {% else %}
            {% if current_event.signup_over() %}
              <p>Alla platser är bokade och anmälan är över för den här gången.</p>
              <div class="text-center">
                <button type="button" class="btn btn-lg btn-primary" disabled>Anmäl mig</button>
              </div>
            {% else %}
              {% if current_event.signup_open() %}
                {% if current_user.is_anonymous %}
                  <p>Anmälan är öppen, men du är inte inloggad som en registrerad användare.</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-lg btn-primary" disabled>Anmäl mig</button>
                  </div>
                {% else %}
                  <p>Anmälan är öppen, använd knappen nedan.</p>
                  <p class="text-warning">Tänk på att din plats är värdefull. Vi tar inte in reserver om du får förhinder, så anmäl dig bara om du är säker på att du kan delta.</p>
                  <form class="form form-horizontal" method="post" role="form">
                    {{ form.hidden_tag() }}
                    <div class="text-center">
                      {{ form.submit(class="btn btn-lg btn-primary") }}
                    </div>
                  </form>
                {% endif %}
              {% else %}
                <p>Anmälan har inte öppnat ännu.</p>
                <p>Anmälan öppnar {{ moment(current_event.signup_start).fromNow() }}.</p>
                <div class="text-center">
                  <button type="button" class="btn btn-lg btn-primary" disabled>Anmäl mig</button>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        {% endif %}
    </div>

  </div>
{% endblock %}
