{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import form_field %}

{% block page_content %}
  <div class="row">
    <div class="col-md-12">
{#      <h1>Skapa ny användare</h1>

      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="row">
          <div class="col-md-6">
            {{ form_field(form.start) }}
            {{ form_field(form.end) }}
            {{ form_field(form.limit) }}
          </div>
          <div class="col-md-6">
            {{ form_field(form.signup_start) }}
            {{ form_field(form.signup_end) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ form.submit(class="btn btn-default") }}
          </div>
        </div>
      </form>
#}

      <h1>Alla användare</h1>

      <table class="table table-striped">
        <thead>
          <th>Epostadress</th>
          <th>Förnamn</th>
          <th>Efternamn</th>
          <th></th>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td><a href="{{ url_for('main.user_profile', id=user.id) }}">Detaljer</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
