{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  <div class="row">
    <div class="col-md-12">
      <h1>Vi behöver din hjälp till Klädbytardagen!</h1>
      <p>
        Helgen den 27-30 september är det dags för Klädbytardag! Klädbytardagen är populär och gynnar så många, det är därför det är så kul att arbeta med den!
      </p>
      <p>
        För dig som vill hjälpa till finns flera pass att välja på och om man hjälper till minst 3 av dessa pass får man möjlighet att <b>förköpa</b> kläder under 2 timmar redan på fredagskvällen. <b>För varje person som förköper måste 3 pass genomföras.</b> Om exempelvis två personer i en familj förköper måste alltså 6 pass genomföras.<br/>
        Försäljningen pågår lördagen den 29/9 kl 10-14.
      </p>

      <h3>
        Följande pass finns att välja på och det är först till kvarn som gäller på alla:
      </h3>
      <p>
        <b>Pass 1: Torsdagen 27/9 kl 18-20</b> då vi förbereder! Lokalerna ställs iordning vilket innebär att bära bord och stolar m.m. <span style="color:red;">Fullt!</span>
      </p>
      <p>
        <b>Pass 2: Fredagen 28/9 Från kl 14.50</b> tills vi är färdiga, ca kl 20, du måste komma absolut senast 17 för att få räkna detta som ett pass, glöm inte meddela vilken tid du kan komma. Här sorteras alla inlämnade saker. Ca klockan 18 bjuder vi på fika och informerar om helgen.
      </p>
      <p>
        <b>Pass 3 och 4: Lördagen 29/9 kl 9.30-14 samt 13.30-17.30</b> (båda passen alltså 9.30-17.30). Här finns olika arbetsuppgifter både bland kunderna och bakom kulisserna. Under förmiddagen byter vi av varandra för en fikapaus. Efter försäljningen, kl 14, ska alla kläder sorteras på nytt och lokalerna ska ställas i ordning. Efter försäljningen på lördagen bjuder vi på lunch. Även om du slutar eller börjar ditt pass kring 14 bjuder vi på lunch.
      </p>
      <p>
        <b>Pass 5: Söndagen 30/9 kl 11.30-14.30</b> ska alla kvitton sorteras och räknas så att alla som sålt kan få sina pengar. Detta är inte svårt och brukar vara en mycket trevlig stund, miniräknare finns att tillgå! <span style="color: red;">Fullt!</span>
      </p>
      <p>
        <b>Affischpass:</b> För dig som är noggrann behöver vi också hjälp med att sätta upp våra affischer före den 1/9. Detta pass är för en person.
      </p>
      <h3>
        Detta behöver vi veta när du anmäler dig (via personal@bytardag.se):
      </h3>
      <ul>
        <li>Namn och mejladress</li>
        <li>Specialkost om du kommer att äta på fredagen eller lördagen</li>
        <li>Om några barn kommer med så maten beräknas rätt</li>
        <li>Om du vill jobba på fredagen, ange vilken tid du kommer</li>
        <li>Om du anmäler dig för lördagen under försäljningen kan du gärna nämna om du har erfarenhet av kassan eller lapprivningen</li>
      </ul>
      <p>
        Om vi inte svarar med en gång - ha tålamod! Mejlen kollas inte dagligen.
      </p>
      <p>
        För dig som vill sälja krävs ett säljnummer. Dessa släpps den 9 september kl 9.00 på vår hemsida: www.bytardag.se För att kunna anmäla sig som säljare måste man ha en inloggning, så kolla upp detta i god tid.
      </p>
      <p>
        Vi har även en Facebooksida <a href="https://www.facebook.com/kladbytardagen" alt="Klädbytardagens hemsida">https://www.facebook.com/kladbytardagen</a> och ett Instagramkonto kladbytardagen, följ oss gärna där.
      </p>
      <p>
        /Klädbytardagens styrgrupp
      </p>
    </div>
  </div>

{% endblock %}
