{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  <div class="row">
    <div class="col-md-12">
      <h1>Vi behöver din hjälp till Klädbytardagen våren 2017!</h1>
      <p>
        Helgen den 28-1 september/oktober är det dags för höstens klädbytardag! Klädbytardagen är populär och gynnar så många, det är därför det är så kul att arbeta med den!
      </p>
      <p>
        För dig som vill hjälpa till finns flera pass att välja på och om man hjälper till minst 3 av dessa pass får man möjlighet att förköpa kläder redan på fredagskvällen. Försäljningen pågår annars lördagen den 30/9 kl 10-14.
      </p>
      <p>
        Följande pass finns att välja på:
      </p>
      <p>
        Pass 1: Torsdagen 28/9 kl 18.00-20.00 då vi förbereder! (Begränsat hur många som kan delta här!) <span style="color:red;">Fullt!</span>
      </p>
      <p>
        Pass 2: Fredagen 29/9 kl 15.00 och framåt (tills vi är färdiga, ca kl 20, du måste komma absolut senast 17 för att få räkna detta som ett pass): sortera alla kläder efter storlek och typ av plagg. Ca klockan 18 bjuder vi på fika och informerar om helgen.
      </p>
      <p>
        Pass 3 och 4: Lördagen 30/9 kl 9.30-14.00 samt 13.30-17.30 (båda passen alltså 9.30-17.30):<br/>
        finnas med under försäljningen, i kassan med mera. Under förmiddagen byter vi av varandra för en fikapaus. Efter försäljningen, kl 14.00, ska alla kläder sorteras på nytt och lokalerna ska ställas i ordning. Efter försäljningen på lördagen bjuder vi på lunch i form av pastasallad.
      </p>
      <p>
        Pass 5: Söndagen 1/10 kl 12.30-15.30 ska alla kvitton sorteras och räknas så att alla som sålt kan få sina pengar. Detta är inte svårt och brukar vara en mycket trevlig stund, miniräknare finns att tillgå!
      </p>
      <p>
        Hoppas du vill hjälpa till!<br/>
        Kontakta mig i så fall på: mail (helst) personal@bytardag.se eller telefon: 0739842449
      </p>
      <p>
        MVH/ Sara Dufva Lundquist och Klädbytardagens styrgrupp
      </p>
    </div>
  </div>

{% endblock %}
