{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Vi behöver din hjälp till Klädbytardagen!</h1>

      <p><strong>
        Det är stora förändringar på gång! Utåt sett kommer den enda skillnaden
        vara att vi har öppet till kl 13 istället för 14. Men för oss som jobbar
        med Klädbytardagen kommer det att bli annorlunda. Du kan läsa längre ner
        om förändringarna i <span style="color: red;">rött</span>, men bakgrunden
        till denna förändring är:
      </strong></p>
      <ul>
        <li><p><strong>
          Arbetsuppgifterna på passen har förändrats under åren. Passen på
          torsdagen, fredagen och söndagen har blivit allt lättare medan det
          fortfarande är tufft att jobba på lördagen. Vi vill försöka fördela om
          våra resurser så att vi inte är underbemannade på lördagen.
        </strong></p></li>
        <li><p><strong>
          Efter kl 13 har vi väldigt få kunder och det känns som att vi kan
          använda tiden bättre.
        </strong></p></li>
        <li><p><strong>
          Med det nya ”Efterköpet” till halva priset kan vi öka försäljningen
          (av det som inte är rödmärkt) för att minska antalet osålt att hantera
          efteråt, öka vår förtjänst och öka säljarnas förtjänst. 
          Vi kommer att testa detta de båda Klädbytardagarna 2019 och sedan
          utvärdera. Om vi inte vill ha kvar ”Efterköpet” kommer vi att återgå
          till hur det var tidigare, men behålla öppettiden 10-13.
        </strong></p></li>
      </ul>

      <p>
        Vi kommer inte att kunna ta hänsyn till önskningar om plats utan bara
        vilket pass ni önskar. <strong>Önskar ni vara på en annan plats får ni
        själva försöka hitta någon i schemat att byta med.</strong> Men om din
        önskan av plats handlar om att du exempelvis behöver sitta ner när du
        hjälper till är det helt ok.
      </p>

      <p>
        <strong>Detta behöver vi veta när du anmäler dig (via personal@bytardag.se):</strong>
      </p>
      <ul>
        <li><p>
          Namn och mejladress (givetvis)
        </p></li>
        <li><p>
          Om du <strong>inte</strong> tänker fika på fredagen eller äta på
          lördagen (om du väljer pass i anslutning till detta), annars räknar
          vi med att du äter.
        </p></li>
        <li><p>
          Specialkost om du kommer att äta på fredagen eller lördagen.
        </p></li>
        <li><p>
          Om några barn kommer med så maten beräknas rätt.
        </p></li>
        <li><p>
          Om du vill jobba på fredagen, ange vilken tid du kommer <strong>(viktigt!)</strong>.
        </p></li>
        <li><p>
          Om du anmäler dig för lördagen under försäljningen kan du gärna nämna
          om du har erfarenhet av kassan eller lapprivningen .
        </p></li>
      </ul>

      <p>
        Mejlen kollas inte dagligen, så ha tålamod om du inte får svar direkt.
      </p>

      <p>
        För dig som vill hjälpa till finns flera pass att välja på och om man
        hjälper till minst 3 av dessa pass får man möjlighet att <strong>förköpa</strong> under
        2 timmar redan på fredagskvällen. <strong>För varje person som förköper måste
        3 pass genomföras.</strong> Om exempelvis två personer i en familj förköper måste
        alltså 6 pass genomföras. Nytt är ”Efterköpet” som du kan läsa mer om
        under lördagspasset.
      </p>

      <p><strong>
        Följande pass finns att välja på och det är först till kvarn som gäller på alla:
      </strong></p>

      <p>
        <strong>Pass 1: Torsdagen 28/3 kl 18-20</strong> Lokalerna i Missionskyrkan
        och Fröhuset ställs iordning vilket innebär att lyfta bänkar, bord och
        stolar. Även lite annat förberedelsearbete görs. Notera att du måste
        kunna hjälpa till med tunga lyft.
      </p>

      <p>
        <strong>Pass 2: Fredagen 29/3 Från kl 14.50</strong> tills vi är färdiga,
        ca kl 20. <strong><span style="color: red;">Du måste komma absolut senast
        16 (ny tid!)</span></strong> för att få räkna detta som ett pass, glöm
        inte meddela vilken tid du kan komma. Här sorteras alla inlämnade saker.
        Ca klockan 18 bjuder vi på fika och informerar om helgen.
      </p>

      <p>
        <strong>Pass 3 och 4: Lördagen 30/3 kl 9.30-14 samt 13.30-17.30 <span style="color: red;">
        Om man genomför hela lördagen 9.30-17.30 kommer detta att räknas som tre
        pass, eftersom denna dagen är den tuffaste.</span></strong> Här finns olika
        arbetsuppgifter både bland kunderna och bakom kulisserna. Under
        förmiddagen byter vi av varandra för en fikapaus.
      </p>

      <p><strong><span style="color: red;">
        Kl 13 kommer dörren in att låsas och kassorna stänger 13.30. Under denna
        tid hjälper alla till med lappklippning och lappsortering. 13.30 samlas
        vi i Missionskyrkan för information och sen kommer efterköpet att starta.
        Halva priset på det som inte är rödmärkt. Efterköpet gäller ENBART de
        som jobbar på lördagen och som har uppfyllt samma krav som för förköpet.
        Efterköpet varar till 14.00 då man måste betala och kl 14.30 bjuder vi
        på lunch.
      </span></strong></p>

      <p>
        Efter detta ska alla kläder sorteras på nytt och lokalerna ska ställas
        i ordning. <strong><span style="color: red;">Eftermiddagspasset varar
        ända till 17.30, om du inte kan stanna tills då får du välja ett annat
        pass.</span></strong>
      </p>

      <p>
        <strong>Pass 5: Söndagen 30/9 kl 11.30-14.30</strong> ska alla kvitton
        sorteras och räknas så att alla som sålt kan få sina pengar. Detta är
        inte svårt och brukar vara en mycket trevlig stund, miniräknare finns
        att tillgå!
      </p>

      <p>
        <strong>Affischpass</strong> För dig som är noggrann behöver vi också
        hjälp med att sätta upp våra affischer. Detta pass är för två personer.
      </p>

      <p>
        <strong>Bakpasset</strong> Baka bullar och kakor till fredagens och
        lördagens fika. Detta pass är för en person.
      </p>

      <p>
        För dig som vill sälja krävs ett säljnummer. Dessa släpps den 10/3 kl 9.00
        på vår hemsida: www.bytardag.se För att kunna anmäla sig som säljare
        måste man ha en inloggning, så kolla upp detta i god tid.
      </p>

      <p>
        Vi har även en Facebooksida https://www.facebook.com/kladbytardagen och
        ett Instagramkonto kladbytardagen, följ oss gärna där.
      </p>
    </div>
  </div>

{% endblock %}
