<p>
  Hej!
</p>
<p>
Här kommer lite feedback och en påminnelse.
</p>
<p>
Några felsorteringar upptäcktes vid hämtningen, men då hade redan resten hämtats. Det gäller i samtliga fall ett enda plagg/sak och det kan hämtas vid kvittoutlämningen. Det gäller A-01, B-01, C-09, J-03, K-11, R-03. T-07, V-09. Undrar ni vad det gäller kan ni maila och fråga.
</p>
<p>
Efterlysning: Sålde du en Ralph Lauren-skjorta i storlek 104 (3), säljnummer har inte skrivits! Återfås mot beskrivning ;)
</p>
<p>
Det var i år otroligt många som missat att skriva pris! Till exempel F-01, K-01, N-05 och P-05 hade missat det på en lapp. Men jag vet att det var fler som inte hann skrivas ner. Var noggranna! Någon med ett K i sitt säljnummer hade även skrivit bara K och ingen siffra (ej rödmärkt).
</p>
<p>
När det kommer till sådant som vi inte vill sälja (smutsigt/trasigt/väldigt slitet) var det mindre än någonsin! Yes! Däremot var det väldigt många olika säljare med på den listan. Mitt tips där är att se till att ha riktigt god belysning! Ni som hade lämnat in något icke-godkänt med en röd prick har fått en lapp på artikeln. Här nämner jag de icke-rödmärkta, vill ni veta vad det var kan ni maila och fråga: A-03, A-09, B-05, B-13, C-07, C-09, E-07, E-11, F-11, G-01, H-01, K-05, K-11, L-05, L-07, M-07, N-11, P-09, R-05, R-07, S-11, T-05, T-07, V-09, X-01, X-03, X-05, Z-01, Z-03, Z-07, Z-09, Z-11.
4 av 5 av dessa säljnummer har bara råkat få med en enda sak. Och jag är glad att inte ens det värsta av dessa saker är i närheten av en del saker som lämnats in tidigare. Bra! Hög standard ger nöjdare kunder!
</p>
<p>
Och så påminnelsen: om du vill hämta dina kvittolappar (alltså tejpbitarna från det du sålt) eller något som blivit felsorterat så är det i Missionskyrkan på måndag 15/10 kl 18-18.30.
</p>
<p>
Tack för att ni är med!!!
</p>
