<h1>
  Välkommen som säljare på Klädbytardagen!
</h1>
<p>
  Välkommen som säljare på Klädbytardagen hösten 2017!
</p>
<p>
  Ditt säljnummer är <strong>{{ seller_id }}</strong>. Så fort du fått detta
  meddelande bekräftar du din plats genom att svara på det här mailet med dessa
  3 uppgifter:<br/><br/>
  <strong>1. bank</strong><br/>
  <strong>2. clearingnummer</strong><br/>
  <strong>3. kontonummer</strong><br/><br/>
  för det konto som du önskar få din förtjänst insatt på. Glöm inte att uppge
  säljnummer eller inkludera detta mail så vi vet vems uppgifter det är.
</p>
<p>
  Nedan har du en länk till den detaljerade information som du som säljare
  behöver läsa, samt en länk till bildexempel.<br/>
</p>
<p>
  Länk till information:<br/>
  <a href="http://www.bytardag.se/info">http://www.bytardag.se/info</a><br/>
  Informationen finns på en webbsida som ger lite större överblick. Det finns även möjlighet att skriva ut informationen om du hellre läser det på papper.
</p>
<p>
  Länk till bildexempel:<br/>
  <a href="http://www.bytardag.se/static/bildexempel.pdf">http://www.bytardag.se/static/bildexempel.pdf</a>
</p>
<p>
  Eftersom du kommer få mer sålt om fler vet om att Klädbytardagen går av
  stapeln finns här även en länk till små flyers du kan skriva ut och sprida
  vidare.<br/><a href="http://www.bytardag.se/static/flyer.pdf">http://www.bytardag.se/static/flyer.pdf</a>
</p>
<p>
  Vill du vara med och hjälpa till? Är man med på tre pass får man möjlighet
  att förköpa på fredagen efter sorteringen. Läs mer på <a href="http://www.bytardag.se/personal">http://www.bytardag.se/personal</a>
</p>
<p>
  Gå in och gilla oss på Facebook så kan du även tipsa vänner om detta
  <a href="http://www.facebook.com/kladbytardagen">http://www.facebook.com/kladbytardagen</a>.
</p>
<p>
  Vi finns även på Instagram med kontonamn kladbytardagen.
</p>
<p>
  (Eventuellt behöver du kopiera och klistra in länkarna ovan i din webbläsare.)
</p>
<p>
  Har vi inte hört av dig antar vi att du inte kommer vara med som säljare, men om det är så att du får förhinder är vi tacksamma om du meddelar oss.
</p>
<p>
  Tack för att du är med och gör Klädbytardagen möjlig!
</p>
<p>//Annika Törngren</p>
