<h1>
  Välkommen som säljare på Klädbytardagen hösten 2018!
</h1>
<p>
  Ditt säljnummer är <strong>{{ seller_id }}</strong>. <span style="color: red;">Obs! Svara inte på detta mail som tidigare år.</span>
  Besök din profilsida på bytardag.se och fyll i det bankkonto du vill få din förtjänst insatt på.
  Sidan är krypterad för din säkerhets skull och dina uppgifter kan bara ses av våra administratörer.
</p>
<p>
  Nedan har du en länk till den detaljerade information som du som säljare
  behöver läsa, samt en länk till bildexempel.<br/>
</p>
<p>
  Länk till information:<br/>
  <a href="https://www.bytardag.se/info">https://www.bytardag.se/info</a><br/>
  Informationen finns på en webbsida som ger lite större överblick. Det finns även möjlighet att skriva ut informationen om du hellre läser det på papper.
</p>
<p>
  Länk till bildexempel:<br/>
  <a href="https://www.bytardag.se/static/bildexempel.pdf">https://www.bytardag.se/static/bildexempel.pdf</a>
</p>
<p>
  Eftersom du kommer få mer sålt om fler vet om att Klädbytardagen går av
  stapeln finns här även en länk till små flyers du kan skriva ut och sprida
  vidare.<br/><a href="https://www.bytardag.se/static/flyer.pdf">https://www.bytardag.se/static/flyer.pdf</a>
</p>
<p>
  Vill du vara med och hjälpa till? Är man med på tre pass får man möjlighet
  att förköpa på fredagen efter sorteringen. Läs mer på <a href="https://www.bytardag.se/personal">https://www.bytardag.se/personal</a>
</p>
<p>
  Gå in och gilla oss på Facebook så kan du även tipsa vänner om detta
  <a href="http://www.facebook.com/kladbytardagen">http://www.facebook.com/kladbytardagen</a>.
  Vi finns även på Instagram med kontonamn kladbytardagen.
</p>
<p>
  (Funkar inte länkarna? Kopiera och klistra in länkarna ovan i din webbläsare.)
</p>
<p>
  Vänligen meddela om du exempelvis blir sjuk och inte kan vara med. Vi tillämpar inte reservplatser så vi hoppas att du kommer kunna vara med!
</p>
<p>
  Tack för att du är med och gör Klädbytardagen möjlig!
</p>
<p>//Annika Törngren</p>
