<h1>
  Välkommen som säljare på Klädbytardagen!
</h1>
<p>
  Välkommen som säljare på Klädbytardagen våren 2017!
</p>
<p>
  Ditt säljnummer är <strong>{{ seller_id }}</strong>. Så fort du fått detta
  meddelande bekräftar du din plats genom att svara på det här mailet med dessa
  3 uppgifter:<br/><br/>
  <strong>1. bank</strong><br/>
  <strong>2. clearingnummer</strong><br/>
  <strong>3. kontonummer</strong><br/><br/>
  för det konto som du önskar få din förtjänst insatt på. Glöm inte att uppge
  säljnummer så vi vet vems uppgifter det är.
</p>
<p>
  Nedan har du en länk till den detaljerade information som du som säljare
  behöver ta till dig, samt en länk till bildexempel.<br/>
  <span style="color: red;">
    Eftersom några av nyheterna i informationen inte
    uppmärksammades förra gången så har dessa delar markerats med rött i
    informationen, det gäller särskilt märkningen.
  </span>
</p>
<p>
  Information:<br/>
  <a href="http://www.bytardag.se/info">http://www.bytardag.se/info</a><br/>
  Nytt för den här gången är att informationen finns på en webbsida som ger lite större överblick. Det finns även möjlighet att skriva ut informationen om du hellre läser det på papper.
</p>
<p>
Bildexempel:<br/>
<a href="http://www.bytardag.se/static/bildexempel.pdf">http://www.bytardag.se/static/bildexempel.pdf</a>
</p>
<p>
  Eftersom du kommer få mer sålt om fler vet om att Klädbytardagen går av
  stapeln finns här även en länk till små flyers du kan skriva ut och sprida
  vidare.<br/><a href="http://www.bytardag.se/static/flyer.pdf">http://www.bytardag.se/static/flyer.pdf</a>
</p>
<p>
  Vill du vara med och hjälpa till? Är man med på tre pass får man möjlighet
  att förköpa på fredagen efter sorteringen. Läs mer på <a href="http://www.bytardag.se/personal">http://www.bytardag.se/personal</a>
</p>
<p>
  Gå in och gilla oss på Facebook så kan du även tipsa dina vänner om detta
  <a href="http://www.facebook.com/kladbytardagen">http://www.facebook.com/kladbytardagen</a>.
</p>
<p>
  Vi finns även på Instagram med kontonamn kladbytardagen.
</p>
<p>
  (Eventuellt behöver du kopiera och klistra in länkarna ovan i din webbläsare.)
</p>
<p>
  Tack för att du är med och gör Klädbytardagen möjlig!
</p>
<p>//Annika Törngren</p>
