celery>=4.0.0
coverage>=4.0.3
cryptography>=2.3.0
flake8>=2.6.2
flake8-docstrings>=0.2.5
Flask>=0.12.2
Flask-Bootstrap>=3.3.5.7
Flask-Login>=0.3.2
Flask-Mail>=0.9.1
Flask-Migrate>=1.8.0
Flask-Moment>=0.5.1
Flask-Script>=2.0.5
Flask-SQLAlchemy>=2.1
Flask-WTF>=0.12
libsass>=0.11.1
psycopg2-binary>=2.7.4
pytest>=2.9.1
pytest-flask>=0.10.0
pytest-mock>=0.11.0
raven>=6.0.0
redis>=2.10.5
requests>=2.10.0
Sphinx>=1.4.1
sqlalchemy-utils>=0.33.3
